#dform_container #dform_navigation li {
	display:inline;
}

#dform_container #dform_pagenav {
    width: 100%;
}
#dform_container  #dform_pageholder {
    width: 100%;
}
#dform_container #dform_navigation {
     float: right;
}

#dform_container .dform_pageValid span,
#dform_container .dform_pageInvalid span,
#dform_container .dform_pageInvalidCustom span{
    background-image: none;
}
#dform_container #dform_navigation li.dform_pageValid:before {
    content:url('/dformresources/content/valid.png');
    margin-right: 5px;
}
#dform_container #dform_navigation li.dform_pageInvalid:before {
    content:url('/dformresources/content/invalid.png');
    margin-right: 5px;
}
#dform_container #dform_navigation li.dform_pageInvalidCustom:before {
    content:url('/dformresources/content/warning.png');
    margin-right: 5px;
}
