/*
-----------------------------------------------
txt (and text like fields) Start
-----------------------------------------------
*/

.txt-gov > div > label{
  font-size: 1rem;
  line-height: 1.2 !important;
  font-weight:bold!important;
  margin-top: 5px;
}

.txt-gov > div .helptext{
    font-size: 1rem;
    margin-top: 5px;*/
}

.txt-gov input{
    border: 2px solid black !important;
}
.txt-gov input:focus{
    box-shadow: 0px 0.2px 3px 0px #d45252 !important;
}

.txt-gov  input:focus:not([readonly]){
    border-color: #FFBF47 !important;
}

.txt-gov  input.dform_fielderror:focus{
    box-shadow: 0 0 0px 3px #FFBF47 !important;
    border-color: #d45252 !important;
}

.txt-gov  .dform_fielderror{
    box-shadow: /*0 0 1px 1px #d45252*/ none !important;
    border: solid 2px #d45252 !important;
    outline: none;
}

.txt-gov  .dform_validationMessage{
    padding-bottom: 6px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.txt-gov input[readonly]{
    border-color: #DDD !important;
    background: #DDD;
}
/txt (and text like fields) end
-----------------------------------------------*/

/*
-----------------------------------------------
txta Start
-----------------------------------------------
*/

.txta-gov > div > label {
  font-size: 1rem;
  line-height: 1.2 !important;
  font-weight:bold!important;
}

.txta-gov > div .helptext {
    font-size: 1rem;
    /*margin-bottom: 18px;
    margin-top: 5px;*/
}

.txta-gov textarea{
    border: 2px solid black !important;
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.txta-gov textarea:focus:not([readonly]){
    /*box-shadow: 0 0 0 3px #FFBF47 !important;*/
    border-color: #FFBF47 !important;
}
.txta-gov textarea:focus{
    box-shadow: 0px 0.2px 3px 0px #d45252 !important;
}

.txta-gov textarea.dform_fielderror:focus{
    box-shadow: 0 0 0px 3px #FFBF47 !important;
    border-color: #d45252 !important;
}

.txta-gov .dform_fielderror{
    box-shadow: /*0 0 1px 1px #d45252*/ none !important;
    border: solid 2px #d45252 !important;
    outline: none;
}

.txta-gov .dform_validationMessage{
    padding-bottom: 6px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.txta-gov textarea[readonly] {
    border-color: #DDD !important;
    background: #DDD;
}
/*txta-length----------------------------------*/

.txta-length-message{
    width: 100%;
    height: 22px;
    position: relative;
    top: -6px;
}

.btn-gov {
    background-color: #fff;
    border: 2px solid #00823b;
    border-radius: 4.5rem;
    color: #fff;
    background: #00823b;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    margin: 0 0 .75rem;
    padding: .625rem 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out;
    vertical-align: middle;
    box-shadow: none;
    font-size: 0.8rem;
}

.btn-gov:hover{
    box-shadow: inset 0 -2px 0 #003618;
    background: #00682e;
}

.btn-gov:focus{
    box-shadow: inset 0 -2px 0 #003618, 0 0 0 3px #FFBF47;
}


/* info-notice bar */
div.icon-place {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 5px;
}

.dform_widget_type_html .info-notice{
    padding: 0px 0px 0px 55px;
}
.info-notice-icon {
  position: absolute;
  top: 50%;
  left: 0;
  height: 38px;
  width: 38px;
  background-color: #00529b;/*uncheck background*/
  border-radius: 50%;
  margin-left: 5px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-notice {
    position: relative;
    background-color: #BDE5F8;
    padding: 0px 0 0 0px;
    border: solid #00529B;
    border-width: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.icon-place::before {
    padding-right: 0px;
    background-image: url(https://www.emprocloud.com/demo/images/icons/info-icon.png);
    background-size: 10px 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    content: "";
}

.noticetext {
    position: relative;
    top: -45px;
    left: 70px;
    margin-right: 0px;
    margin-bottom: -35px;
    box-sizing: border-box;
    margin-top: 0px;
    font-style: italic;
    width: 77%;
}

/* Funnelback changes */
.fnlb_link{
   display: none;
}

.fnlb_summary{
   display: none;
}

#dform_container div[data-type="funnelback"] {
    margin-bottom: 10px;
	border-top: 3px;
    border-top-style: solid;
}

.fnlb_header {
    font-size: 18px;
	margin-bottom: -5px;
}

.btn-fnlb {
    color: #fff !important;
    box-shadow: inset 0 -2px 0 #003618 !important;
    border: none !important;
    border-radius: 0px !important;
    outline-offset: -1px;
    width: auto !important;
    background: #005b9f!important;
    font-weight: bold !important;
    white-space: nowrap;
}

#dform_container .fnlb_close {
    width: 10px;
    margin-left: 96%; /* This will need fixed to auto adjust to screen size - position of close button (x) */
}
/* Funnelback changes */

.btn-back{
    background: none !important;
    border: none !important;
    color: black !important;
    cursor: pointer !important;
    text-decoration: underline !important;
    box-shadow: none !important;
    border-color: rgba(0,0,0,0) !important;
    outline: none !important;
    padding: 2.5px 5px 2px 5px!important;
}
.btn-back:focus{
    box-shadow: inset 0 0 0px 5px #FFBF47 !important;
}



#dform_container input[type='radio'], #dform_container input[type='checkbox'] {
    display: inline-block;
    width: 25px;
    height: 25px;
}

#dform_container .otom_delete {
    display: none;
}

#dform_container input:focus, #dform_container textarea:focus, #dform_container select:focus {
    box-shadow: 0 0 0px lightblue;
    border-color: lightblue;
}

#dform_container input[type="checkbox"].dform_fielderror {
    outline: solid 1px #b03535;
    outline: 0px;
}

/* --------------------------------------------------------------------------------------------Checkboxes and Radios */
#dform_container .radiooption {
    margin-bottom: 20px;
}

#dform_container .radiogroup input {
    width : 0;
}

/*   UNCHECKED RADIO */
#dform_container .radiogroup input:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: -6px;
    background-color: white;
    border-radius: 75%;
    box-shadow: inset 0 0 0 3px #007AFF;
    box-sizing: border-box;
}

/*   CHECKED RADIO    */
#dform_container .radiogroup input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 4px #fff;
    border: solid 3px #007AFF;
    height: 35px;
    width: 35px;
}


#dform_container .checkboxgroup label {
    margin-left: 21px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 18px;
}

#dform_container .dform_widget_type_checkbox input:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: 0;
    background-color: white;
    box-shadow: inset 0 0 0 3px #007AFF;
    border-radius: 17%;
}

#dform_container .dform_widget_type_checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

#dform_container .checkbox input {
    width : 0;
}

#dform_container .checkbox input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 4px #fff;
    height: 29px;
    width: 29px;
    border: 3px solid #007AFF;
    border-radius: 15%;
}

#dform_container .checkboxgroup input {
    width : 0;
}

#dform_container .checkboxgroup input:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: 0;
    background-color: white;
    box-shadow: inset 0 0 0 3px #007AFF;
    border-radius: 17%;
}

#dform_container .radiogroup, #dform_container .checkboxgroup, #dform_container .searchwidget {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
}

/* Label Size on radio/check options */
#dform_container label {
    font-size: 16px;
}

/* Change size of legend labels */
#dform_container legend {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    vertical-align: top;
    border-bottom: none;
}

/*  Checkbox Text */
#dform_container .dform_widget_type_checkbox label {
    padding-left: 5px;
    font-weight: normal;
	margin-left: 18px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 18px;
}

.checkboxgroup legend {
    margin-left: -11px;
}

.radiogroup legend {
    margin-left: -11px;
}

/* Checkboxes and Radios */
#dform_container input[type='radio'], #dform_container input[type='checkbox'] {
    margin-bottom: 26px;
    background-color: #000;
    margin-top: -2px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    height: 18px;
    width: 15px;
}

/* Checkboxes */
#dform_container input[type='checkbox'] {
    background-color: #fff;
    margin-bottom: 10;
    margin-right: 0;
    border-radius: 17%;    
	display: inline-block;
    background-color: white;
    cursor: pointer;
    height: 14px;
    width: 29px;
}

#dform_container .checkboxgroup input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 0px #fff;
    border: solid 3px #007AFF;
    height: 29px;
    width: 29px;
    border: 3px solid #007AFF;
}

#dform_container .dform_widget_type_checkbox input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 0px #fff;
    border: solid 3px #007AFF;
    height: 29px;
    width: 29px;
    border: 3px solid #007AFF;
}

/* Changes margin beside radio button and label font size    */
#dform_container .radiogroup label {
    margin-left: 28px; !important
    font-size: 16px;
    cursor: pointer;
	margin-right: 13px;
}

#dform_container fieldset {
    border: 0px solid #aaaaaa;
}

.helptext {
    margin-bottom: 10px;
}

#dform_container .dform_th {
    background-color: #007AFF !important;
}

div .sizer.content {
    width: 100%;
    border-radius: 0;
}
