/*
-----------------------------------------------
txt (and text like fields) Start
-----------------------------------------------
*/

.txt-gov > div > label{
  font-size: 1rem;
  line-height: 1.2 !important;
  font-weight:bold!important;
  margin-top: 5px;
}

.txt-gov > div .helptext{
    font-size: 1rem;
    margin-top: 5px;*/
}

.txt-gov input{
    border: 2px solid black !important;
}
.txt-gov input:focus{
    box-shadow: 0px 0.2px 3px 0px #d45252 !important;
}

.txt-gov  input:focus:not([readonly]){
    border-color: #FFBF47 !important;
}

.txt-gov  input.dform_fielderror:focus{
    box-shadow: 0 0 0px 3px #FFBF47 !important;
    border-color: #d45252 !important;
}

.txt-gov  .dform_fielderror{
    box-shadow: /*0 0 1px 1px #d45252*/ none !important;
    border: solid 2px #d45252 !important;
    outline: none;
}

.txt-gov  .dform_validationMessage{
    padding-bottom: 6px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.txt-gov input[readonly]{
    border-color: #DDD !important;
    background: #DDD;
}
/txt (and text like fields) end
-----------------------------------------------*/

/*
-----------------------------------------------
txta Start
-----------------------------------------------
*/

.txta-gov > div > label {
  font-size: 1rem;
  line-height: 1.2 !important;
  font-weight:bold!important;
}

.txta-gov > div .helptext {
    font-size: 1rem;
    /*margin-bottom: 18px;
    margin-top: 5px;*/
}

.txta-gov textarea{
    border: 2px solid black !important;
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.txta-gov textarea:focus:not([readonly]){
    /*box-shadow: 0 0 0 3px #FFBF47 !important;*/
    border-color: #FFBF47 !important;
}
.txta-gov textarea:focus{
    box-shadow: 0px 0.2px 3px 0px #d45252 !important;
}

.txta-gov textarea.dform_fielderror:focus{
    box-shadow: 0 0 0px 3px #FFBF47 !important;
    border-color: #d45252 !important;
}

.txta-gov .dform_fielderror{
    box-shadow: /*0 0 1px 1px #d45252*/ none !important;
    border: solid 2px #d45252 !important;
    outline: none;
}

.txta-gov .dform_validationMessage{
    padding-bottom: 6px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.txta-gov textarea[readonly] {
    border-color: #DDD !important;
    background: #DDD;
}
/*txta-length----------------------------------*/

.txta-length-message{
    width: 100%;
    height: 22px;
    position: relative;
    top: -6px;
}

.btn-gov {
    background-color: #fff !important;
    border: 2px solid #00823b !important;
    border-radius: 4.5rem !important;
    color: #fff !important;
    background: #00823b !important;
    cursor: pointer !important;
    font-family: "Roboto",sans-serif;
    margin: 0 0 .75rem !important;
    padding: .625rem 1.5rem !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    -webkit-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    vertical-align: middle !important;
    box-shadow: none !important;
    font-size: 0.8rem !important;
}

.btn-gov:hover{
    box-shadow: inset 0 -2px 0 #003618 !important;
    background: #00682e !important;
}

.btn-gov:focus{
    box-shadow: inset 0 -2px 0 #003618, 0 0 0 3px #FFBF47 !important;
}

.btn-back {
	background-color: #FFFFFF !important;
	border-color: #00823b !important;
	color: #00823b !important;
	text-decoration: none !important;
	border: 2px solid #00823b !important;
   	border-radius: 4.5rem !important;
}
.btn-back:focus{
    box-shadow: inset 0 0 0px 5px #FFBF47 !important;
}

.btn-gov-secondary {
    background-color: #fff !important;
    border: 2px solid grey !important;
    border-radius: 4.5rem !important;
    margin: 0 0 .75rem !important;
    padding: .625rem 1.5rem !important;
    text-transform: uppercase !important;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    font-size: 0.8rem !important;
}

/* info-notice bar */
div.icon-place {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 5px;
}

.dform_widget_type_html .info-notice{
    padding: 0px 0px 0px 55px;
}
.info-notice-icon {
  position: absolute;
  top: 50%;
  left: 0;
  height: 38px;
  width: 38px;
  background-color: #00529b;/*uncheck background*/
  border-radius: 50%;
  margin-left: 5px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-notice {
    position: relative;
    background-color: #BDE5F8;
    padding: 0px 0 0 0px;
    border: solid #00529B;
    border-width: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.info-notice-icon-a {
  position: absolute;
  left: 17px;
  top: 13px;
  width: 0px;
  height: 18px;
  border: solid white;
  border-width: 0 5px 0 0;
}
.info-notice-icon-b {
  position: absolute;
  left: 17px;
  top: 5px;
  width: 0px;
  height: 5px;
  border: solid white;
  border-width: 0 5px 0 0;
}

.width-fit-content{
    width: fit-content !important;
    width: intrinsic !important;
    width: -moz-max-content !important;
}

.paragraph-normal, .p-n{
    font-size: 1rem !important;
    line-height: 1.17 !important;
    padding: 0px 10px 0px 0px;
}

#dform_container select {
     border: 2px solid black !important;
}

#dform_container input[type='file']:after {
    content: url(https://verint-empro-marketplace.github.io/select_files_248_49.png);
    position: relative;
    height: 38px;
    margin-top: -32px;
    margin-right: -25px;
    width: 113%;
    float: right;
    cursor: pointer;
}

#dform_container input{
    border: #fff;
}
