/*
-----------------------------------------------
txt (and text like fields) Start
-----------------------------------------------
*/

.txt-gov > div > label,.dt-gov > div > label,.eml-gov > div > label,.num-gov > div > label,.pas-gov > div > label,.tel-gov > div > label,.time-gov > div > label,.field-gov > div > label{
  font-size: 1rem;
  line-height: 1.2 !important;
  font-weight:bold!important;
}

.txt-gov > div .helptext,.dt-gov > div .helptext,.eml-gov > div .helptext,.num-gov > div .helptext,.pas-gov > div .helptext,.tel-gov > div .helptext,.time-gov > div .helptext,.field-gov > div .helptext{
    font-size: 1rem;
    /*margin-bottom: 18px;
    margin-top: 5px;*/
}

.txt-gov input,.dt-gov input,.eml-gov input,.num-gov input,.pas-gov input,.tel-gov input,.time-gov input,.field-gov input{
    border: 2px solid black !important;
}
.txt-gov input:focus,.dt-gov input:focus,.eml-gov input:focus,.num-gov input:focus,.pas-gov input:focus,.tel-gov input:focus,.time-gov input:focus,.field-gov input:focus{
    box-shadow: 0px 0.2px 3px 0px #d45252 !important;
}

.txt-gov  input:focus:not([readonly]),.dt-gov  input:focus:not([readonly]),.eml-gov  input:focus:not([readonly]),.num-gov  input:focus:not([readonly]),.pas-gov  input:focus:not([readonly]),.tel-gov  input:focus:not([readonly]),.time-gov  input:focus:not([readonly]),.field-gov  input:focus:not([readonly]){
    /*box-shadow: 0 0 0 3px #FFBF47 !important;*/
    border-color: #FFBF47 !important;
}

.txt-gov  input.dform_fielderror:focus,.dt-gov  input.dform_fielderror:focus,.eml-gov  input.dform_fielderror:focus,.num-gov  input.dform_fielderror:focus,.pas-gov  input.dform_fielderror:focus,.tel-gov  input.dform_fielderror:focus,.time-gov  input.dform_fielderror:focus,.field-gov  input.dform_fielderror:focus{
    box-shadow: 0 0 0px 3px #FFBF47 !important;
    border-color: #d45252 !important;
}

.txt-gov  .dform_fielderror,.dt-gov  .dform_fielderror,.eml-gov  .dform_fielderror,.num-gov  .dform_fielderror,.pas-gov  .dform_fielderror,.tel-gov  .dform_fielderror,.time-gov  .dform_fielderror,.field-gov  .dform_fielderror{
    box-shadow: /*0 0 1px 1px #d45252*/ none !important;
    border: solid 2px #d45252 !important;
    outline: none;
}

.txt-gov  .dform_validationMessage,.dt-gov  .dform_validationMessage,.eml-gov  .dform_validationMessage,.num-gov  .dform_validationMessage,.pas-gov  .dform_validationMessage,.tel-gov  .dform_validationMessage,.time-gov  .dform_validationMessage,.field-gov  .dform_validationMessage{
    padding-bottom: 6px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.txt-gov input[readonly],.dt-gov input[readonly],.eml-gov input[readonly],.num-gov input[readonly],.pas-gov input[readonly],.tel-gov input[readonly],.time-gov input[readonly],.field-gov input[readonly] {
    border-color: #DDD !important;
    background: #DDD;
}
/txt (and text like fields) end
-----------------------------------------------*/

/*
-----------------------------------------------
txta Start
-----------------------------------------------
*/

.txta-gov > div > label {
  font-size: 1rem;
  line-height: 1.2 !important;
  font-weight:bold!important;
}

.txta-gov > div .helptext {
    font-size: 1rem;
    /*margin-bottom: 18px;
    margin-top: 5px;*/
}

.txta-gov textarea{
    border: 2px solid black !important;
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.txta-gov textarea:focus:not([readonly]){
    /*box-shadow: 0 0 0 3px #FFBF47 !important;*/
    border-color: #FFBF47 !important;
}
.txta-gov textarea:focus{
    box-shadow: 0px 0.2px 3px 0px #d45252 !important;
}

.txta-gov textarea.dform_fielderror:focus{
    box-shadow: 0 0 0px 3px #FFBF47 !important;
    border-color: #d45252 !important;
}

.txta-gov .dform_fielderror{
    box-shadow: /*0 0 1px 1px #d45252*/ none !important;
    border: solid 2px #d45252 !important;
    outline: none;
}

.txta-gov .dform_validationMessage{
    padding-bottom: 6px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.txta-gov textarea[readonly] {
    border-color: #DDD !important;
    background: #DDD;
}
/*txta-length----------------------------------*/

.txta-length-message{
    width: 100%;
    height: 22px;
    position: relative;
    top: -6px;
}

/*
-----------------------------------------------
Custom gov radio buttons - Start
-----------------------------------------------
*/

.rad-gov > div > fieldset > span  {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  /*cursor: pointer;*/
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rad-gov .radiogroup{
    border: none !important;
    padding-left: 0px !important;
}

.rad-gov > div > fieldset > span  input {
  position: absolute;
  opacity: 0;
  left: 0px !important;
  width:100% !important;
  height:100% !important;
  z-index:1 !important;
  cursor: pointer;
}

.rad-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: white;/*uncheck background*/
  border-radius: 75%;
  /*border: 3px solid #007AFF;Inconsistint sizing between host and VOF*/
  box-shadow: inset 0 0 0 3px #007AFF;
}

.rad-check:after {
  content: "";
  position: absolute;
  display: none;
}

.rad-gov > div > fieldset > span  input:checked ~ .rad-check:after {
  display: block;
}

.rad-gov > div > fieldset > span  .rad-check:after {
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007AFF;
}

.rad-gov > div > fieldset .helptext {
    font-size: 1rem;
    margin-bottom: 16px;
}

.rad-gov legend {
    font-size: 1rem;
    line-height: 1.2 !important;
    margin-bottom: 0px !important;
}
/*Style to remove legend*/
.no-legend legend {
    font-size: 0px !important;
}
/*add red border to input that are required/have an error*/
.rad-gov  input[type="radio"].dform_fielderror ~ span{
    box-shadow: inset 0 0 0 3px #d45252;
}
/*The error text when field is invalid*/
.rad-gov  .dform_validationMessage{
    padding-bottom: 24px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.rad-gov > div > fieldset > span  input:focus ~ .rad-check{
    /*border: 3px solid red !important;*/
    box-shadow: 0 0 0 3px #FFBF47, inset 0 0 0 3px #FFBF47;
}
.rad-gov > div > fieldset{
    margin: 0 !important;
    padding-bottom: 0 !important;
}

.rad-gov label{
    text-transform: lowercase;
}
.rad-gov.rad-uppercase label{
    text-transform: uppercase;
}
.rad-gov.rad-capitalize label{
    text-transform: capitalize;
}
.rad-gov.rad-none label{
    text-transform: none;
}
.rad-gov.rad-lowercase label{
    text-transform: lowercase;
}

/*Custom gov radio buttons - End
-----------------------------------------------*/

/*
-----------------------------------------------
gov checkbox Start
-----------------------------------------------
*/

.chk-gov > div  {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chk-gov > div  input {
  position: absolute;
  opacity: 0;
  left: 0px !important;
  width:100% !important;
  height:100% !important;
  z-index:1 !important;
  cursor: pointer;
}

.chk-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 3px solid #007AFF;
  border-radius: 15%;
}

.chk-gov > div  input:checked ~ .chk-check {
  background-color: #007AFF;
}

.chk-check:after {
  content: "";
  position: absolute;
  display: none;
}

.chk-gov > div  input:checked ~ .chk-check:after {
  display: block;
}

.chk-gov > div  .chk-check:after {
  left: 6.5px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chk-gov > div .helptext {
    font-size: 1rem;
    position: absolute;
    top: 32px;
    left:0px;
}

.no-legend > div > label {
    font-size: 0px !important;
}

.chk-gov  .dform_validationMessage{
    position: absolute;
    top: -22px;
    left: 0px;
    font-size: 1rem !important;
    font-weight: bold !important;
    /*padding-bottom: 24px !important;*/
}

.chk-gov  input[type="checkbox"].dform_fielderror ~ span{
    border-color: #d45252;
    /*box-shadow: 0 0 3px 3px #d45252 !important;*/
}
.chk-gov > div  input:focus ~ .chk-check{
    /*border: 3px solid red !important;*/
    box-shadow: 0 0 0 3px #FFBF47;
}
/*gov checkbox end
-----------------------------------------------*/

.btn-gov {
    background-color: #fff;
    border: 2px solid #00823b;
    border-radius: 4.5rem;
    color: #fff;
    background: #00823b;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    margin: 0 0 .75rem;
    padding: .625rem 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out;
    transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out;
    vertical-align: middle;
    box-shadow: none;
    font-size: 0.8rem;
}

.btn-gov:hover{
    box-shadow: inset 0 -2px 0 #003618;
    background: #00682e;
}

.btn-gov:focus{
    box-shadow: inset 0 -2px 0 #003618, 0 0 0 3px #FFBF47;
}


/* info-notice bar */
div.icon-place {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 5px;
}

.info-notice {
    position: relative;
    background-color: #BDE5F8;
    padding: 0px 0 0 0px;
    border: solid #00529B;
    border-width: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.icon-place::before {
    padding-right: 0px;
    background-image: url(https://www.emprocloud.com/demo/images/icons/info-icon.png);
    background-size: 10px 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    content: "";
}

.noticetext {
    position: relative;
    top: -45px;
    left: 70px;
    margin-right: 0px;
    margin-bottom: -35px;
    box-sizing: border-box;
    margin-top: 0px;
    font-style: italic;
    width: 77%;
}

/* Funnelback changes */
.fnlb_link{
   display: none;
}

.fnlb_summary{
   display: none;
}

#dform_container div[data-type="funnelback"] {
    margin-bottom: 10px;
	border-top: 3px;
    border-top-style: solid;
}

.fnlb_header {
    font-size: 18px;
	margin-bottom: -5px;
}

.btn-fnlb {
    color: #fff !important;
    box-shadow: inset 0 -2px 0 #003618 !important;
    border: none !important;
    border-radius: 0px !important;
    outline-offset: -1px;
    width: auto !important;
    background: #005b9f!important;
    font-weight: bold !important;
    white-space: nowrap;
}

#dform_container .fnlb_close {
    width: 10px;
    margin-left: 96%; /* This will need fixed to auto adjust to screen size - position of close button (x) */
}
/* Funnelback changes */

.btn-back{
    background: none !important;
    border: none !important;
    color: black !important;
    cursor: pointer !important;
    text-decoration: underline !important;
    box-shadow: none !important;
    border-color: rgba(0,0,0,0) !important;
    outline: none !important;
    padding: 2.5px 5px 2px 5px!important;
}
.btn-back:focus{
    box-shadow: inset 0 0 0px 5px #FFBF47 !important;
}



#dform_container input[type='radio'], #dform_container input[type='checkbox'] {
    display: inline-block;
    width: 25px;
    height: 25px;
}

#dform_container .otom_delete {
    display: none;
}

#dform_container input:focus, #dform_container textarea:focus, #dform_container select:focus {
    box-shadow: 0 0 0px lightblue;
    border-color: lightblue;
}

#dform_container input[type="checkbox"].dform_fielderror {
    outline: solid 1px #b03535;
    outline: 0px;
}

/* --------------------------------------------------------------------------------------------Checkboxes and Radios */
#dform_container .radiooption {
    margin-bottom: 20px;
}

#dform_container .radiogroup input {
    width : 0;
}

/*   UNCHECKED RADIO */
#dform_container .radiogroup input:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: -6px;
    background-color: white;
    border-radius: 75%;
    box-shadow: inset 0 0 0 3px #007AFF;
    box-sizing: border-box;
}

/*   CHECKED RADIO    */
#dform_container .radiogroup input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 4px #fff;
    border: solid 3px #007AFF;
    height: 35px;
    width: 35px;
}


#dform_container .checkboxgroup label {
    margin-left: 21px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 18px;
}

#dform_container .dform_widget_type_checkbox input:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: 0;
    background-color: white;
    box-shadow: inset 0 0 0 3px #007AFF;
    border-radius: 17%;
}

#dform_container .dform_widget_type_checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

#dform_container .checkbox input {
    width : 0;
}

#dform_container .checkbox input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 4px #fff;
    height: 29px;
    width: 29px;
    border: 3px solid #007AFF;
    border-radius: 15%;
}

#dform_container .checkboxgroup input {
    width : 0;
}

#dform_container .checkboxgroup input:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: 0;
    background-color: white;
    box-shadow: inset 0 0 0 3px #007AFF;
    border-radius: 17%;
}

#dform_container .radiogroup, #dform_container .checkboxgroup, #dform_container .searchwidget {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
}

/* Label Size on radio/check options */
#dform_container label {
    font-size: 16px;
}

/* Change size of legend labels */
#dform_container legend {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    vertical-align: top;
    border-bottom: none;
}

/*  Checkbox Text */
#dform_container .dform_widget_type_checkbox label {
    padding-left: 5px;
    font-weight: normal;
	margin-left: 18px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 18px;
}

.checkboxgroup legend {
    margin-left: -11px;
}

.radiogroup legend {
    margin-left: -11px;
}

/* Checkboxes and Radios */
#dform_container input[type='radio'], #dform_container input[type='checkbox'] {
    margin-bottom: 26px;
    background-color: #000;
    margin-top: -2px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    height: 18px;
    width: 15px;
}

/* Checkboxes */
#dform_container input[type='checkbox'] {
    background-color: #fff;
    margin-bottom: 10;
    margin-right: 0;
    border-radius: 17%;    
	display: inline-block;
    background-color: white;
    cursor: pointer;
    height: 14px;
    width: 29px;
}

#dform_container .checkboxgroup input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 0px #fff;
    border: solid 3px #007AFF;
    height: 29px;
    width: 29px;
    border: 3px solid #007AFF;
}

#dform_container .dform_widget_type_checkbox input:checked:before {
    background-color: #007AFF;
    box-shadow: inset 0 0 0 0px #fff;
    border: solid 3px #007AFF;
    height: 29px;
    width: 29px;
    border: 3px solid #007AFF;
}

/* Changes margin beside radio button and label font size    */
#dform_container .radiogroup label {
    margin-left: 28px; !important
    font-size: 16px;
    cursor: pointer;
	margin-right: 13px;
}

#dform_container fieldset {
    border: 0px solid #aaaaaa;
}

.helptext {
    margin-bottom: 10px;
}

#dform_container .dform_th {
    background-color: #007AFF !important;
}

div .sizer.content {
    width: 100%;
    border-radius: 0;
}
